@import "tailwindcss";

:root {
  --background: #482029;
  --text-beige: #f3ede4;
  --background-secondary: #e9e7e2;
  --walnut: #4a2c2a;
  --cherrywood: #a45a3f;
  --maple: #e7d7c1;
  --olivewood: #c8a165;
  --driftwood: #b8a99a;
  --chestnut: #8b5a2b;
  --sandstone: #dcc7a1;
  --yellowheart: #f8e81c;
}

@theme inline {
  --color-background: var(--background);
  --color-beige: var(--text-beige);
  --color-background-secondary: var(--background-secondary);
  --color-walnut: var(--walnut);
  --color-cherrywood: var(--cherrywood);
  --color-maple: var(--maple);
  --color-olivewood: var(--olivewood);
  --color-driftwood: var(--driftwood);
  --color-chestnut: var(--chestnut);
  --color-sandstone: var(--sandstone);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-yellowheart: var(--yellowheart);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #482029;
    --text-beige: #f3ede4;
    --background-color: #e9e7e2;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

html {
  min-height: 100%;
  background-image: url("/textures/redwood_grain.jpg");
  background-repeat: no-repeat;
  background-position: left, center;
  background-size: cover;
}

body {
  margin: 0;
  min-height: 100%;
  background: transparent;
}
