@import "tailwindcss";

:root {
  --background: #482029;
  --text-beige: #f3ede4;
  --background-secondary: #e9e7e2;
  --walnut: #4A2C2A;
  --cherrywood: #A45A3F;
  --maple: #E7D7C1;
  --olivewood: #C8A165;
  --driftwood: #B8A99A;
  --chestnut: #8B5A2B;
  --sandstone: #DCC7A1;
  --yellowheart: #F8E81C;
}

@theme inline {
  --color-background: var(--background);
  --color-beige: var(--text-beige);
  --color-background-secondary: var(--background-secondary);
  --color-walnut: var(--walnut);
  --color-cherrywood: var(--cherrywood);
  --color-maple: var(--maple);
  --color-olivewood: var(--olivewood);
  --color-driftwood: var(--driftwood);
  --color-chestnut: var(--chestnut);
  --color-sandstone: var(--sandstone);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-yellowheart: var(--yellowheart);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #482029;
    --text-beige: #f3ede4;
    --background-color: #e9e7e2;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}